extends templates/layout.pug
block variables
  - var title = gameData['title']

block head
  meta(name='description' content=gameData['description'])
  meta(property='og:title' content=gameData['title'])
  meta(property='og:type' content='website')
  meta(property='og:description' content=gameData['description'])
  meta(property='og:image' content=gameData['base_url'] + '/' + gameData['cover'])
  meta(property='og:url' content=gameData['abs_url'])

block content
  #game-container
    img.game-cover(src=gameData['cover'])
    #game-info
      // Title and developer
      h2.game-title=gameData['title']
      if (gameData['developer'])
          p.game-developer-info=`Utviklet av: `
            a(href=gameData['developer_link'] target="_blank")=gameData['developer']

      // Description / Note
      p.game-description=gameData['description']
      p.game-note!=gameData['note']

      // Player count / Time to beat cards
      if (gameData['players'])
        p.game-players
          span(class=gameData['players'] === "1" ? "mdi mdi-account" : "mdi mdi-account-group")
          span=gameData['players'] === "1" ? `1 spiller` : `${gameData['players']} spillere`
      if (gameData['ttb'])
          p.game-ttb
            i.ttb-icon.mdi.mdi-clock-outline
            span=gameData['ttb']

    #game-download-area
      #game-download-container
        if gameData.win_dl
          a.download-button(href=gameData.win_dl) Windows <i class="mdi mdi-microsoft-windows"></i>
        if gameData.mac_dl
          a.download-button(href=gameData.mac_dl) Mac <i class="mdi mdi-apple"></i>
        if gameData.linux_dl
          a.download-button(href=gameData.linux_dl) Linux <i class="mdi mdi-linux"></i>
        if gameData.android_dl
          a.download-button(href=gameData.android_dl) Android <i class="mdi mdi-android"></i>
        if gameData.url
          a.download-button(href=gameData.url) Nettleser <i class="mdi mdi-web"></i>

    #game-footer
      p Når du laster ned innhold fra denne siden, aksepterer du <a id="tc-link">vilkår og betingelsene</a>.
      if gameData['links'][0]
        p Du kan lese mer om eller kjøpe spillet selv på en av følgende plattformer:
        // Links
        #game-purchase-links
          each link in gameData['links']
            if (link.includes('steampowered.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-steam"></i>
            else if (link.includes('humblebundle.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-humble-bundle"></i>
            else if (link.includes('gog.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-gog"></i>
            else if (link.includes('nintendo.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-nintendo-switch"></i>
            else if (link.includes('apple.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-apple-ios"></i>
            else if (link.includes('play.google.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-google-play"></i>
            else if (link.includes('itch.io'))
              a.game-link(href=link target="_blank") <i class="fab fa-itch-io"></i>
            else
              a.game-link(href=link target="_blank") <i class="mdi mdi-link-variant"></i>

  #tc-modal.hidden
    .modal-content
      .close-modal
        i.mdi.mdi-close
      include cfg/tc