extends templates/layout.pug
block variables
  -var title = gameData['title']

block content
  #game-container
    img.game-cover(src=gameData['cover'])
    #game-info
      h1.game-title=gameData['title']
      if (gameData['developer'])
          p.game-developer-info Utviklet av:
            a(href=gameData['developer_link'] target="_blank")=gameData['developer']
      p.game-description=gameData['description']
      p.game-note!=gameData['note']
      if (gameData['players'])
        if gameData['players'] === "1"
          p.game-players <i class="mdi mdi-account"></i>
            span=gameData['players']
            span=` spiller`
        else
          p.game-players <i class="mdi mdi-account-group" style="padding-right: 2px;"></i>
            span=gameData['players']
            span=` spillere`
      if (gameData['ttb'])
          p.game-ttb <i class="ttb-icon mdi mdi-clock-outline"></i><span> </span>
            span=gameData['ttb']
    #game-download-area
      #game-download-container
        if gameData.win_dl
          a.download-button(href=gameData.win_dl) Windows <i class="mdi mdi-microsoft-windows"></i>
        if gameData.mac_dl
          a.download-button(href=gameData.mac_dl) Mac <i class="mdi mdi-apple"></i>
        if gameData.linux_dl
          a.download-button(href=gameData.linux_dl) Linux <i class="mdi mdi-linux"></i>
        if gameData.android_dl
          a.download-button(href=gameData.android_dl) Android <i class="mdi mdi-android"></i>
        if gameData.url
          a.download-button(href=gameData.url) Nettleser <i class="mdi mdi-web"></i>
    #game-footer
      p Spillene kan ikke deles med andre eller forlate klasserommet.
      if gameData['links'][0]
        p Du kan kjøpe spillet selv på en av følgende plattformer:
        #game-purchase-links
          // Tegn lenker utifra leverandør
          each link in gameData['links']
            if (link.includes('steampowered.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-steam"></i>
            if (link.includes('humblebundle.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-humble-bundle"></i>
            if (link.includes('gog.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-gog"></i>
            if (link.includes('nintendo.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-nintendo-switch"></i>
            if (link.includes('apple.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-apple-ios"></i>
            if (link.includes('play.google.com'))
              a.game-link(href=link target="_blank") <i class="mdi mdi-google-play"></i>
            if (link.includes('itch.io'))
              a.game-link(href=link target="_blank") <i class="fab fa-itch-io"></i>
