extends templates/layout.pug

block head
  meta(property='og:title' content=title)
  meta(property='og:type' content='website')
  meta(property='og:image' content='cfg/favicon.ico')

block content
  include cfg/header
  #filter
      input(type="text" id="search" placeholder="Søk etter spill")
      input(type="checkbox" class="filterBtn mdi mdi-web")
      input(type="checkbox" class="filterBtn mdi mdi-microsoft-windows")
      input(type="checkbox" class="filterBtn mdi mdi-apple")
      input(type="checkbox" class="filterBtn mdi mdi-linux")
      input(type="checkbox" class="filterBtn mdi mdi-android")
  #no-results
    h1 😔
    p Her var det tomt, gitt!
  #game-grid
    each game, link in gameList
      a#game-grid-card(href=link)
        .game-card-cover
            img(src=game['cover'] loading="lazy" width="100%")
            .game-card-cover-info
                if game.players
                    .players
                        span.mdi(class=game.players === "1" ? "mdi-account" : "mdi-account-group")
                        span.playercount=game.players
                .platforms
                    if game.url
                        span.mdi.mdi-web
                    if game.win_dl
                        span.mdi.mdi-microsoft-windows
                    if game.mac_dl
                        span.mdi.mdi-apple
                    if game.linux_dl
                        span.mdi.mdi-linux
                    if game.android_dl
                        span.mdi.mdi-android
                if game.ttb
                    .ttb=game.ttb
        h2.game-title=game['title']
        if game['category']
          #game-card-categories
            each category in game['category']
              .game-card-category=category
